[bumpversion]
current_version = 2.3.5
commit = True
tag = True
tag_name = v{new_version}
message = Bump version: {current_version} → {new_version}

[bumpversion:file:config/config.yaml]
search = version: {current_version}
replace = version: {new_version}

[bumpversion:file:workflow/containers/containers.yaml]
search = :v{current_version}
replace = :v{new_version}
