.tests/data_CHR17/RPE-BM510/fastq/BM510x04_PE20301.1.fastq.gz filter=lfs diff=lfs merge=lfs -text
.tests/data_CHR17/RPE-BM510/fastq/*.fastq.gz filter=lfs diff=lfs merge=lfs -text
.tests/external_data/*.fa.* filter=lfs diff=lfs merge=lfs -text
